<link rel="stylesheet" type="text/css" href="css/footer.css">
<footer>
    <div class="footer-container">
      <div class="contact">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="mailto:info@vodkasite.com">info@vodkasite.com</a></li>
          <li><a href="tel:+123456789">+1 (234) 567-89</a></li>
          <li>123 Main St, Suite 100<br>Anytown, USA 12345</li>
        </ul>
      </div>
      <div class="pages">
        <h3>Pages</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Buy</a></li>
        </ul>
      </div>
    </div>
</footer>  